<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/picnic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css"/>
    <title>Animes</title>
    <style>
        img{
            width: 300px;
        }
    </style>
</head>
<body>
<script id="animes_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Anime List</h1>

        <a href="#!/animes/add" class="add btn btn-primary">Add</a>
        <a href="/rss" class="add btn btn-info">RSS</a>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Imatge</th>
            <th>Nom</th>
            <th>Top</th>
            <th>Any</th>
            <th>Autor</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {{for animes}}
        <tr>
            <td class="align-middle">
                <a href="#!/animes/{{:_id}}"><img src={{:Enllac}} alt="" class="img-fluid"></a>
            </td>
            <td class="align-middle">
                <a href="#!/animes/{{:_id}}">{{:Nom}}</a>
            </td>
            <td class="align-middle">
                {{:Top}}
            </td>
            <td class="align-middle">
                {{:Anyo}}
            </td>
            <td class="align-middle">
                {{:Autor}}
            </td>
            <td class="align-middle">
                <a href="#!/animes/{{:_id}}/delete" class="btn btn-danger delete">Delete</a>
                <a href="#!/animes/{{:_id}}/modify" class="btn btn-warning modify">Modify</a>

            </td>
        </tr>
        {{/for}}
        </tbody>
    </table>
    </div>
</script>

<script id="anime_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>{{:Nom}}</h1>
        <img src="{{:Enllac}}" alt="">
        <ul>
            <li>Top: {{:Top}}</li>
            <li>Any: {{:Anyo}}</li>
            <li>Autor: {{:Autor}}</li>
        </ul>
    </div>
</script>

<script id="add_anime_template" type="text/x-handlebars-template">
    <div class="container">
            <h1>Add anime</h1>

            <form action="">

            <label for="Enllac">Imatge</label>
            <input type="text" name="Enllac" id="Enllac">

            <br>

            <label for="Nom">Nom</label>
            <input type="text" name="Nom" id="Nom">

            <br>

            <label for="Top">Top</label>
            <input type="text" name="Top" id="Top">

            <br>

            <label for="Anyo">Any</label>
            <input type="text" name="Anyo" id="Anyo">

            <br>

            <label for="Autor">Autor</label>
            <input type="text" name="Autor" id="Autor">

                <br>

                <button type="submit" class="btn btn-primary add-form-submit">Envia</button>
        </form>
    </div>
</script>

<script id="modify_anime_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Modify {{:Nom}}</h1>

        <form action="">

            <label for="Enllac">Imatge</label>
            <input type="text" name="Enllac" id="Enllac" value="{{:Enllac}}">

            <br>

            <label for="Nom">Nom</label>
            <input type="text" name="Nom" id="Nom" value="{{:Nom}}">

            <br>

            <label for="Top">Top</label>
            <input type="text" name="Top" id="Top" value="{{:Top}}">

            <br>

            <label for="Anyo">Any</label>
            <input type="text" name="Anyo" id="Anyo" value="{{:Anyo}}">

            <br>

            <label for="Autor">Autor</label>
            <input type="text" name="Autor" id="Autor" value="{{:Autor}}">

            <br>

            <button data-id="{{:_id}}" type="submit" class="btn btn-primary modify-form-submit">Envia</button>
        </form>
    </div>
</script>

<script id="register_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Register</h1>

        <form action="">

            <label for="username">username</label>
            <input type="text" name="username" id="username">

            <br>

            <label for="password">password</label>
            <input type="text" name="password" id="password">

            <br>

            <button type="submit" class="btn btn-primary register-form-submit">Envia</button>
        </form>
    </div>
</script>

<script id="login_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Login</h1>

        <form action="">

            <label for="username">username</label>
            <input type="text" name="username" id="username">

            <br>

            <label for="password">password</label>
            <input type="text" name="password" id="password">

            <br>

            <button type="submit" class="btn btn-primary login-form-submit">Envia</button>
        </form>
    </div>
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#!/">Animes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div id="app"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.1/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<script>

    var root = null;
    var useHash = true;
    var hash = '#!';
    var router = new Navigo(root, useHash, hash);

    router
        .on('/', showAnimes)
        .on('/register', register)
        .on('/login', login)
        .on('/animes/add', addAnime)
        .on('/animes/:id', showAnime)
        .on('/animes/:id/delete', deleteAnime)
        .on('/animes/:id/modify', modifyAnime)
        .resolve();

    var storage = window.localStorage;
    var token = storage.getItem("token");

    console.log(token);

    function showAnimes() {
        $.getJSON("api/animes/", function (data) {
            var html = $("#animes_template").render(data);

            $("#app").html(html);
        });
    }

    function registerFormSubmit(event) {
        event.preventDefault();
        var form = $("form");
        var data = form.serializeObject();
        console.log(data);


        $.post("/api/auth/register/", data, function(result){
            console.log(result);
            if (result.success){
                var type = "success";
            } else {
                var type = "error"
            }
            new Noty({
                text: result.msg,
                type: type,
                layout: 'topCenter',
                timeout: 3000
            }).show();
            router.navigate('/');
        }).catch(function (error) {
            console.log(error);
        })
    }

    function register() {
        var html = $("#register_template").render();
        $("#app").html(html);
        $(".register-form-submit").on("click", registerFormSubmit);
    }

    function loginFormSubmit(event) {
        event.preventDefault();
        var form = $("form");
        var data = form.serializeObject();
        console.log(data);

        $.post("api/auth/login/", data, function (result) {
            var type = "success";
            var text = "Logged in";

            new Noty({
                text: text,
                type: type,
                layout: 'topCenter',
                timeout: 3000
            }).show();

            console.log(result);

            storage.setItem("token", result.token);

            router.navigate('/')
        }).catch(function (error) {
            var type = "error";
            var text = "Error logging in"

            new Noty({
                text: text,
                type: type,
                layout: 'topCenter',
                timeout: 3000
            }).show();
            console.log(error)
        });
    }

    function login() {
        var html = $("#login_template").render();
        $("#app").html(html);
        $(".login-form-submit").on("click", loginFormSubmit);
    }

    function addAnime() {
        var html = $("#add_anime_template").render();
        $("#app").html(html);
        $(".add-form-submit").on("click", addFormSubmit);

    }

    function addFormSubmit(event) {
        event.preventDefault();
        var form = $('form');
        var data = form.serializeObject();
        $.post("api/animes/", data, function(result){
            router.navigate('/');
        })
    }

    function showAnime(params) {
        $.getJSON("api/animes/" + params.id, function (data) {
            var html = $("#anime_template").render(data);
            $("#app").html(html);
        });
    }

    function deleteAnime(params) {
        $.ajax({
            url: 'api/animes/' + params.id,
            type: 'DELETE',
            headers: {
                'Authorization': token,
            }
        }).then(function(result){
            router.navigate('/');
        });
    }

    function modifyAnime(params) {
        $.getJSON("api/animes/" + params.id, function (data) {
            var html = $("#modify_anime_template").render(data);
            $("#app").html(html);
            $(".modify-form-submit").on("click", modifyFormSubmit)
        });
    }

    function modifyFormSubmit(event) {
        event.preventDefault();
        var form = $("form");
        var data = form.serializeObject()
        var button = $("form > button");
        var id = button.data("id");
        $.post("api/animes/" + id, data, function(result){
            router.navigate('/');
        })
    }

</script>
</body>
</html>